# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.env/

# Installers
*.egg
*.egg-info/
dist/
build/
eggs/

# Python packaging
*.wheel
*.egg-info/
.installed.cfg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# FastAPI specific
instance/

# Environment variables
.env
